.Table {
  display: grid;
  place-items: center;
  background-color: #505050;
  color: cyan;
  font-size: 12pt;
}

.Table > img {
  height: auto;
  width: 22%;
  padding: 20px;
}

.Table tr:hover {
  background-color: yellow;
  color: black;
  cursor: pointer;
}
