.orgchart.myChart {
    background-image: none;
    background-color: #424242;
  }
  


  .orgchart.myChart > ul > li > ul li::before {
    border-top-color: #215a88;
  }
  
  .orgchart.myChart > ul > li > ul li .oc-node::before,
  .orgchart.myChart ul li .oc-node:not(:only-child)::after {
    background-color: #215a88;
  }
  
  .orgchart.myChart .oc-node .position {
    box-sizing: border-box;
    background-color: #215a88;
    color: #fff;
    width: 130px;
    height: 65px;
    padding: 2px;
  }
  
  .orgchart.myChart .oc-node .fullname {
    box-sizing: border-box;
    color: #215a88;
    background-color: #424242;
    width: 130px;
    height: 65px;
    padding: 2px;
    border: 1px solid #215a88;
  }

  
